@using Business.ViewModels.Category
@model List<CategoryListItemVM>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Title</td>
                <td>
                    <a asp-action="delete" asp-controller="category" asp-route-id="@category.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

